<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>thebrylledesigns</title>

        <link rel="icon" href="/images/icon.png" type="image">
        <!-- CSS-->
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <img src="/images/logo.png" class="center vertical-center">

        <h5 class="text-center spacing-top">Design. Code. Sleep. Repeat</h5>

        <a href="/views/activity1.html" class="center neu">
            Weekly Expenses Activity
        </a>

        <div class="footer-social">
            <a href="https://www.instagram.com/thebryllesdesigns/" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            Instagram</a>

            <a href="https://github.com/brylledesigns" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            Github</a>
        </div>
    </body>
</html>