<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>thebrylledesigns</title>

        <link rel="icon" href="/images/icon.png" type="image">
        <!-- CSS-->
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main background">
            <!-- <img src="/public/images/background.jpg" class="background"> -->
            <img src="/images/logo.png" class="center vertical-center">

            <h5 class="text-center spacing-top">Design. Code. Sleep. Repeat</h5>

            <h4 class="text-center spacing-top">
                <a href="/views/activity1.html">Weekly expenses Activity</a>
            </h4>
        </div>
    </body>
</html>