img {
    width: 300px;
}

html {
    font-family: 'Oxanium';
    font-size: 15px;
    color:white;
}

body {
    background-image: url(/public/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oxanium';
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vertical-center {
    margin-top: 150px;
}

.text-center {
    text-align: center;
}

.spacing-top {
    margin-top: 20px;
}

/* a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color:white;
    text-decoration: none;
  }
  
  a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 102%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    color: white;
  } */

.neu {
    border-radius: 10px;
    background: #0f0f11;
    box-shadow:  5px 5px 14px #060607, 
                -5px -5px 14px #18181b;
    width: 150px;
    height: 20px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    padding: 15px;
  }

.neu:hover {
    background: #0f0f11;
    box-shadow: inset 5px 5px 14px #060607, 
                inset -5px -5px 14px #18181b;
  }

.footer-social {
      width: 210px;
      height: 50px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      position: relative;
      padding: 5px;
      margin-top: 300px;
      margin-right: 50px;
      float: right;
  }

.footer-social a {
    text-decoration: none;
    color: white;
}

#loader {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid transparent;
    animation: spin 0.8s linear infinite;
  }

#loader-label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 20px;
    margin-top: -35px;
    margin-left: -50px;
    font-size: 12px;
    animation: text-load 3s;
    animation-fill-mode: forwards;
}

@keyframes text-load {
    from{opacity:0 } 
    to{opacity:1 }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@keyframes animatebottom { 
    from{opacity:0 } 
    to{opacity:1 }
}
  
#myDiv {
    display: none;
    text-align: center;
}



